Package: com.thatmarcel.tweaks.sfcookies
Name: SFCookies
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make SFSafariViewController share cookies with Safari
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks
